#drop-menu {
	width: 60%;
    margin: auto;
}

ul.menu {
	list-style: none;
    width: 100%;
}

span.prova li {
	float: right;
}

.menu li span:hover {
    transform: rotate(3.142rad);
}

ul.menu ul {	
	display:inline-block;
	list-style: none;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 25px;
	left: 0;
	z-index: 999;
}

ul.menu li:hover ul {
	opacity: 1;
	visibility: visible;
}

span.prova {
    display: inline-block;
    position: relative;
    width: 100%;
    line-height: 80px;
}

span.fa-solid {
    line-height: 80px;
}

.hidden li {
    height: 20px;
}