* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /* border: 1px solid blue; */
}

/* REGOLE FLEX e POSITION */

.d-flex {
    display: flex;
}

.p-relative {
    position: relative;
}

/* REGOLE DIMENSIONI */

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-50{
    width: 50%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-70 {
  width: 80%;
}

.w-100 {
    width: 100%;
}

.h-100 {
  height: 100%;
}

/* REGOLE ALLINEAMENTO */

.a-items {
    align-items: center;
}

.t-center {
  text-align: center;
}

.margin-auto {
    margin: auto;
}

/* REGOLE DI RENDERING */

body {
    font-size: 13px;
}

.strong {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #777777;
}

.a-blue {
    color: #0061ff;
    text-decoration: underline;
}

li {
    list-style: none;
}

i {
    padding: 5px;
}

.btn {
    padding: 10px;
    display: inline-block;
    text-align: center;
}

.button-blue {
    background-color: #0061ff;
    color: white;
}

.section {
    border: 1px solid lightgray;
}

hr {
    width: 100px;
    color: #777777;
}

.button-grey {
    background-color: #ffffff;
    color: black;
    border: 0.5px solid black;
    padding: 5px 10px;
}

.border {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-80 {
    margin-top: 80px;
}


