header {
    background-color: #b4d0e7;
}

/* HEADER TOP */
.header-top {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    height: 50px;
    background-color: white;
    justify-content: space-between;
}

.header-top .logo {
    height: 20px;
    margin: 0 10px 0 10px;
}

.header-top li {
    padding: 10px;
}

.link-right .button-container {
    margin: 0 10px 0 10px;
}

/* HEADER BOTTOM */
.header-bottom {
    margin-top: 50px;
}

.header-bottom h1 {
    font-size: 3rem;
}

.header-bottom .testo {
    flex-direction: column;
}

.trial {
    margin: 30px 0 30px 0;
    text-align: left;
    padding-left: 0;
}
