* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}



/* COMMON */
a {
    text-decoration: none;
    color: #777777;
}

li {
    list-style: none;
}

.button {
    background-color: #0061ff;
    color: white;
    padding: 5px 10px;
}




/* HEADER */
header {
    font-size: 12px;
    background-color: #b4d0e7;
}


/* HEADER TOP */
.header-top {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: white;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-left, .link-right {
    display: flex;
}

.link-left {
    align-items: center;
}

.header-top img {
    height: 20px;
    margin: 0 10px 0 10px;
}

.header-top ul {
    display: flex;
}

.header-top li {
    padding: 10px;
}

.link-right div {
    display: flex;
    align-items: center;
    margin: 0 10px 0 10px;
}


/* HEADER BOTTOM */
.header-bottom {
    width: 70%;
    margin: auto;
    margin-top: 50px;
}

.header-bottom h1 {
    font-size: 3rem;
    width: 80%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.header-bottom .flex {
    display: flex;
}

.header-bottom .testo{
    width: 35%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.trial {
    margin: 30px 0 30px 0;
}

.header-bottom .jumbo {
    width: 65%;
}

.jumbo img {
   width: 100%;
}

.testo .icona {
    position: absolute;
    bottom: 0;
}