header {
    background-color: #b4d0e7;
}

/* HEADER TOP */
.header-top {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    height: 50px;
    background-color: white;
    padding: 0 20px;
    line-height: 50px;
}

.header-top nav {
    justify-content: space-between;
}

.header-top li:hover {
    border-bottom: 2px solid black;
}

.header-top a {
    margin: 0 20px;
}

.header-top img {
    vertical-align: middle;
}

.link-right .button-blue {
    padding: 10px;
    display: inline;
    text-align: center;
}

/* HEADER BOTTOM */
.header-bottom {
    margin-top: 50px;
}

.header-bottom .container {
    bottom: -80px;
}

.header-bottom h1 {
    font-size: 70px;
}

.header-bottom .testo {
    flex-direction: column;
}

.fa-arrow-down {
    color: black;
}

/* MAIN */

.round {
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;
}

.monthly {
    border: 3px solid #0061ff;
}

.monthly-text {
    margin-right: 30px;
}

.annual {
    border: 1px solid grey;
}

.plans {
    justify-content: space-between;
}

.vertical {
    width: calc(97% / 3);
}

.vertical .fa-check {
    color: #0061ff;
}

.vertical li {
    margin-bottom: 10px;
    text-indent: -11px;
    padding-left: 12px;
}

.vertical .btn {
    margin: 20px 0;
    width: 100%;
}

.vertical .acquista,hr {
    margin: 20px 0;
}

.account {
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    font-size: 12px;
    border-bottom: 1px solid lightgray;
}

.licenza {
    padding: 30px;
}

.horizontal .button-container {
    position: absolute;
    top: 30px;
    right: 30px;
}

.cards-container {
    justify-content: space-between;
    flex-wrap: wrap;
}

.cards {
    width: calc(80% / 3);
    margin-bottom: 30px;
}

.partner {
    padding: 30px;
}

/* MAIN CENTER */

.square-big {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    flex-wrap: wrap;
}

.square-big-container {
    width: 90%;
    padding-top: 40px;
}

.square-big.center {
    background-color: #f5f5f5;
    overflow-y: auto;
}

.square-small {
    width: calc(100% / 2);
    height: calc(100% / 2);
    justify-content: center;
}

.square-small img {
    width: 50%;
    filter: invert(100%);
}

.A {
    background-color: #A2D39B;
}

.B {
    background-color: #61082b;
}

.C {
    background-color: #0093ce;
}

.D {
    background-color: #ff1b1b;
}

.E {
    background-color: #D5001F;
}

.F {
    background-color: #B4D0E7;
}

.G {
    background-color: #0d2481;
}

.H {
    background-color: #FFD72F;
}

/* MAIN BOTTOM */

.under-square {
    background-color: #b4d0e7;
    height: 300px;
}

.faq {
    height: 300px;
    flex-direction: column;
    justify-content: center;
}

.faq h2 {
    padding-top: 50px;
}

.option {
    height: 50px;
    justify-content: space-between;
    padding: 30px 0px;
}

.option .fa-angle-down {
    margin-right: 30px;
}


/* FAQ */

.faq-container {
    position: relative;
}

.risposta {
    display: none;
    padding-top: 10px;
}

.domanda:active #ruota {
    transform: rotate(180deg);
}

div.faq-container .domanda:active p {
    display: block;
    
}

.faq-arrow {
    position: absolute;
    right: 0;
}

.domanda {
    padding: 20px 0;
    line-height: 20px;
}


/* FOOTER */

footer {
    background-color: black;
    color: white;
}

footer nav {
    width: calc(100% / 5);
    flex-direction: column;
    margin: 50px 0;
}

footer a {
    color: white;
}

footer li {
    margin-bottom: 10px;
}

.language {
    padding-bottom: 20px;
}

